html{
  overflow-x: hidden;
}

body{
  /* font-family: "Roboto Slab"; */
  overflow-x: hidden;
}


html{
  overflow-x: hidden;
}

.bold-nav-link{
  font-size: 17px;
  font-weight: 625;
  color: white;
}

.bold-nav-link:focus{
  color: white!important;
}


.navbar-nav .nav-link.active, .navbar-nav .nav-link.show {
  color: white;
}


@media (max-width:767px){
  .bold-nav-link:hover{
    color: white;
  }
}

@media (max-width:767px){
  .bold-nav-link:hover{
    color: white;
    opacity: 0.9;
  }
}

.title{
  margin: 10px 30px;
}

.title img{
  height: 7.20em;
  margin: 0 auto;
}


.collegeName *{
  color: #132B94;
}

.collegeName{
  margin-top: -10px;
}

.collegeName h1{
  margin: -10px auto;
  font-size: 35px;
}
.collegeName h4{
  font-size: 22px;
  margin-bottom: 3px;
}
.collegeName h5{
  font-size: 20px;
}

.marquee{
  height: 2.5em;
  width: 100%;
  padding: 0px 0px;
  background-color: whitesmoke;
 }

#marquee a{
  text-decoration: none;
  padding-right: 75px;
  color:  #000080;
}


.newsandupdateshead{
  margin: 5px 0px !important;
  width: 20%;
  padding: 1em auto;
  background-color: #007aff;
  color: white;
  border-radius: 0px 5px 5px 0px;
  padding-right: 10px;
}

.newsandupdateshead h3{
  margin: 0px auto 5px auto ;
  font-size: 22.5px;
  text-align: center;
  text-align: end;
}

marquee{
  margin: auto 0px ;
  justify-content: center;
  border-radius: 2px;
  font-size: 20px;
}

.slide-lg{
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
  border-radius: 5px;
  max-width: 850px;
  margin-top: 10px;
  height: fit-content;
  padding: 0!important;
}

.slide-left{
  margin-top: 10px;
  /* background-color: #acdeed; */
  border-radius: 5px;
  margin-right: 10px;
  padding: 10px;
}

.slide-left h4 span{
  background-color: #007aff;
  border-radius: 5px;
  padding: 5px 20px;
  color: white;
}

.slide-left h4{
  text-align: center;
  padding-bottom: 4px;
  margin-top: 7.5px;
}



.slide-left p{
  text-decoration: none;
  margin-bottom: -5px!important;
  font-weight: 550;
  text-align: center;
  line-height: 25px;
}

.slide-left a{
  text-decoration: none;
  font-size: 20px; 
  color: black;
}

.slide-left a span{
  transition: all 0.1s ease-in-out;
}

.slide-left a span:hover{
  color: #0065d1;
}

.slide-left span p{
  font-size: 10px;
}

.slide-right .content{
  font-size: 20px;
  margin-top: 0px;
  text-indent: 0px;
  text-align:start;
  font-weight: 500;
  line-height: 25px;
  padding-bottom: 0px;
}

.slide-right .btn{
  line-height: 18px;
  padding: 5px;
  margin-top: 10px;
}

.slide-right a{
    margin: -7px auto;
}

.slide-right .rslide-heading{
  background-color: #007aff;
  border-radius: 5px;
  color: white;
}

.slide-right h4{
  text-align: center;
  padding: 10px 0px 5px 0px;
  justify-content: center;
}

.slide-right{
  margin-top: 10px;
  margin-left: 10px;
  padding: 10px;
  /* background-color: #acdeed; */
  border-radius: 5px;

}

.slide-lg img{
    filter: brightness(95%);
    border-radius: 5px;
}

.carousel-caption h1{
  /* font-family: sans-serif; */
  font-size:  30px;
  color: white;
  padding-bottom: 100px;
  font-weight: 600;
  text-shadow: 0px 0px 10px rgb(43, 39, 39);
  line-height: 38px;
}

.carousel-caption h4{
  /* font-family: sans-serif; */
  font-size:  18px;
  color: white;
  padding-bottom: 25px;
  text-shadow: 0px 0px 5px rgb(43, 39, 39);
  /* font-weight: 550; */
}



.important-links h4 span{
  background-color: #007aff;
  border-radius: 5px;
  padding: 7.5px;
  color: white;
}

.important-links h4{
  text-align: center;
  padding-bottom: 4px;
  margin-top: 40px;
}

.important-links p{
  text-decoration: none;
  margin-bottom: -5px;
  font-weight: 550;
  text-align: center;
  line-height: 22.5px;
}

.important-links a{
  text-decoration: none;
  font-size: 20px; 
  color: black;
}

.important-links a span{
  transition: all 0.1s ease-in-out;
}

.important-links a span:hover{
  color: #000080;
}

.important-links span p{
  font-size: 10px;
}

@media (min-width:1193px) {
  .dropdown-item:hover{
    border-radius: 5px;
    color: black;
    background-color:#bc6ec9;
    color: white;
  }

  .nav-item:hover .bold-nav-link{
    color: black;
  }

  .nav-item{
    transition: .3s;
    font-weight: 550;
  }

  .nav-item:hover{
    border-radius: 5px;
    background-color: #ffffff;
    padding: 0px 20px;
  }
.navbar-nav .nav-item.dropdown .dropdown-menu {
  display: none;
}

.navbar-nav .nav-item.dropdown:hover .dropdown-menu {
  display: block;
  position: absolute;
  z-index: 1000;
}

.dropdown-custom-360{
  display: none;
}
}

@media (min-width: 992px) {
  .newsAndUpdates{
    display: none;
  }

  .courseOffered .courses-heading{
    text-align: start !important;
  }
  .rlcardsmob{
    display: none !important;
  }
  .courseOffered-mob{
    display: none;
  }
  
  .nav-item div a{
    color: #000;
  }

  .dropdown-menu {
    border-radius: 5px !important; 
    padding: 0;
    position: relative;
    left: 0px;
  }


}   


@media (max-width:1288px) {
  .slide-left-head{
    font-size: 20px;  
  }
}

@media (max-width:1233px) {
  .slide-left-head{
    font-size: 15px;  
  }
}


@media (max-width:1288px) {
  .slide-left-head{
    font-size: 20px;  
  }
}

@media (max-width:1149px) {
  .slide-left-head{
    font-size: 10px;  
  }
}

@media (min-width: 991px) {
  .important-links{
    display: none;
  }
}

@media (max-width: 991px) {
  body{
    overflow-x: hidden !important;
  }
  .separator{
    display: none;
  }
  .aboutAndMarqee {
    flex-direction: column !important;
  }
  h1{
    padding-top: 10px;
    text-align: center;
    color: #132B94;
    font-weight: 600;
  }
  .para2{
    display: none;
  }

  .classImg img{
    display: none;
  }
  .aboutAndMarqee{
    gap: 0px;
  }
  .header h1{
    position: relative;
    top: 15px;
  }
  .rlheading{
    display: none;
  }
  .rlcards{
    display: none !important;
  }
  .thingsthing{
    flex-direction: column;
  }
  .apj.up{
    margin:0px auto !important;
    justify-content: center;
  }
  .courseOffered{
    display: none !important;
  }

  .slide-lg{
    margin-top: 0px;
    margin-bottom: 0px;
  }

  marquee{
    font-size: 20px;
  }

  .newsandupdateshead .announcements{
    display: none;
  }

  .title{
    text-align: center;
    margin: 10px 0px;
  }
  .title a{
    z-index: -999;
    position: absolute;
    opacity: 0.45;
    margin: 0 auto!important;
  }
  header{
    min-height: 135px;
}
.totop{
  height: 30px;
  width: 27.5px;
}

.reveal-element {
  bottom: 45px!important;
  right: 20px!important;
}
  .slide-right{
    display: none!important;
  }
  .slide-left{
    display: none;
  }
}

@media (max-width:860px) {
  .title h4{
    display: none;
  }
  .title h5{
    display: none;
  }

}

.para{
  animation-name: homepara;
  animation-duration: 1s;
  animation-delay: 5;
  margin: 0px 2.5px;
}

@keyframes homepara {
  0%{
    transform: translateY(150px);
    opacity: 0;
  }
  100%{
    transform: translateY(0px);
    opacity: 1;
  }
}


h2 span{
  background-color: #007aff;
  border-radius: 5px;
  padding: 10px;
  color: white;
}
h2{
  padding: 30px 0px 0px 0px;
  text-align: center;
}

h1{
  padding: 30px 0px 10px 0px;
  text-align: center;
  color: #132B94;
  font-weight: 600;
}

.content{
  font-size: 20px;
  padding-top: 10px;
  text-indent: 2em;
  text-align: justify;
}

.markqueebox{
  height: 350px;
  max-width: auto;
  margin: 0px auto 0px auto!important;
  justify-content: center !important;
}

.markqueebox{
  margin-bottom: 20px;
}

.markqueebox p{
  text-align: center;
}

.aboutcollege{
  flex: 1;
}

.aboutAndMarqee{
  display: flex;
  justify-content: space-between;
  gap: 30px;
}

.separator{
  height: 325px;
  border: 2.5px solid #1C2B4B;
  border-radius: 50%;
}
.separator1{
  height: 5px; 
  background: #000;
  border: none;
  width: 80%;
  margin: 10px auto;
  border-radius: 50%;
}


.courseOffered{
  justify-content: space-around;
  gap: 0px;
  padding-left: 30px;
}

.classImg img{
  max-width: 550px;
  max-height: 550px;
  margin-top: 40px;
}

.courses h3{
  padding-top: 5px;
  color: black;
  text-align: start;
  font-size: 26px;
}
.courses-mob h3{
  padding-top: 12.5px;
  color: black;
  text-align: center;
  font-size: 25px;
  font-weight: 500;
  margin-right: 20px;
}

.totop{
  background-color: #132B94;
  border-radius: 5px;
  height: 40px;
  width: 37.5px;
  opacity: 0.8;
  border: 0px solid black;
}

.reveal-element {
  display: none;
  z-index: 1000;
  position: fixed;
  bottom: 75px;
  right: 60px;
  animation-name: top;
  animation-duration: .5s;
  opacity: 0.8;
  transition: all .5s ease-in-out;
}

.reveal-element:active{
  /* transform: scale(1.2); */
  transform: translateY(45px);
}

@keyframes top {
  0%{
    opacity: 0;
    transform: translateY(50px);
  }
  100%{
    opacity: 0.8;
    transform: translateY(0px);
  }
}


.courses a{
  text-decoration: none;
}
.courses-mob a{
  text-decoration: none;
  padding-bottom: 10px;
}


.courses .heading{
  padding-bottom: 20px;
}
.courses-heading-mob{
  padding-bottom: 20px;
}

.courses{
  padding: 20px;
}

.courses-heading{
  margin-bottom: 30px;
}

.courses a img{
  height: 40px;
  width: 30px;
}


.link-card{
  height: 250px;
  width: 200px;
  border-radius: 5px;
  background: #ffffff;
  box-shadow: 15px 15px 30px #bebebe,
             -15px -15px 30px #ffffff;
  transition: transform 0.2s ease;
}
.link-card:hover{
  transform: scale(1.1);
}

.link-cardmob{
  height: 100px;
  width: 300px;
  border-radius: 8px;
  background: #ffffff;
  box-shadow: 15px 15px 30px #bebebe,
             -15px -15px 30px #ffffff;
}
.rlheading-mob{
  margin: 20px;
}

.rlcards{
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  gap: 20px;
  max-width: 1200px;
  margin: 0 auto;
}
.rlcardsmob{
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  gap: 20px;
}

.link-card img{
  height: 150px;
  width: 150px;
  margin-left: 25px;
  padding: 0px 20px 50px 20px;
}
.link-cardmob img{
  height: 65px;
  width: 65px;
  margin-left: 8px;
}

.insidecardmob{
  padding-top: 17px;
}

.insidecardmob h2{
  padding-top: 5px;
}


.link-card h4{
  padding-top: 30px;
  text-decoration: none;
  color: #007aff;
}
.link-cardmob h3{
  padding: 10px auto;
  text-decoration: none;
  color: #007aff;
  margin-left: 20px;
}

.rlheading{
  padding-bottom: 40px;
}

.imgleft{
  position: relative;
  left: 7px;
}

.thingsHeading{
  margin-top: 30px;
  margin-bottom: 10px;
}

@media (min-width: 992px) {
  .markqueebox {
    float: right !important;

  }
}
@media (max-width: 991px) {
  .courses {
    padding-left: 0 !important;
    margin-left: -50px !important;
  }
  
}


.heading span{
  background-color: #007aff;
  border-radius: 5px;
  padding: 10px;
  color: white;
  margin-top: 20px;
}

.things h3{
  padding: 10px;
}

.things .list{
  padding-top: 20px;
  z-index: -1;
  margin-top: 20px;
  text-align: start;
}

@media (max-width:767px) {
  .things .list{
    text-align: center;
    margin-right: 20px;
  }
}

.apj{
  height: 350px;
  width: 325px;
  z-index: -1;
  justify-content: end;
  margin-bottom: -1px;
  filter: drop-shadow(0px 2px 5px grey);
}

@media (max-width:280px) {
  .apj{
    height: 250px!important;
    width: 200px!important;
    justify-content: center;
  }
}

.quote{
  font-size: x-large;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.apjtext{
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}


.creditimg{
  color: #007aff;
  font-size: 1px;
}

.creditimg:hover{
  color: #007aff;
}

.counsellingNo{
  padding: 5px 7.5px;
  border-radius: 5px;
  font-size: 25px;
  font-weight: 700;
}


































#footer{
  background-color: #007aff;
  padding-top: 10px;
}
#footer p, h5{
  color: white;
}
.credits{
  color: white;
}



@media (max-width:767px) {
  .up{
    position: relative;
    transform: translateY(200px);
    opacity: 0;
    transition: all 1s ease;
  }
  .up.activateUp{
    transform: translatey(0px);
    opacity: 1;
  }
}

.up{
  position: relative;
  transform: translateY(115px);
  opacity: 0;
  transition: all 1s ease;
}

.up.activateUp{
  transform: translatey(0px);
  opacity: 1;
}


.right{
  position: relative;
  transform: translateX(-10px);
  opacity: 0;
  transition: all 1s ease;
}

.right.activateRight{
  transform: translate(0px);
  opacity: 3;
}

.left{
  position: relative;
  transform: translateX(10px);
  opacity: 0;
  transition: all 1s ease;
}

.left.activateLeft{
  transform: translate(0px);
  opacity: 1;
}

.uponlap{
  position: relative;
  transform: translateY(150px);
  opacity: 0;
  transition: all 1s ease;
}

.activateUponactive{
  transform: translatey(0px);
  opacity: 1;
}
