html{
  overflow-x: hidden;
}

body{
  /* font-family: "Roboto Slab"; */
  overflow-x: hidden;
}


.bold-nav-link{
  font-size: 17px;
  font-weight: 625;
}


.title{
  margin: 10px 30px;
}

.title img{
  height: 8em;
  margin: 0 auto;
}



.collegeName *{
  color: #132B94;
}

.collegeName{
  margin-top: -10px;
}

.collegeName h1{
  margin: -10px auto;
  font-size: 35px;
}


.marquee{
  height: 2.5em;
  width: 100%;
  /* margin: 10px 0px; */
  padding: 0px 0px;
  background-color:#e5e0f7;
 }

#marquee a{
  text-decoration: none;
  padding-right: 75px;
  color:  #132B94;
}


.newsandupdateshead{
  margin: 5px 0px !important;
  width: 20%;
  padding: 1em auto;
  background-color:#007aff;
  color: white;
  text-align: end;
  border-radius: 0px 5px 5px 0px;

}

.newsandupdateshead h3{
  margin: 0px auto 5px auto ;
  font-size: 22.5px;
  text-align: center;
}

marquee{
  margin: auto 0px ;
  justify-content: center;
  border-radius: 2px;
  font-size: 20px;
}

.carousel-item img{
    filter: brightness(70%);
}

.carousel-caption h1{
  font-family: sans-serif;
  font-size:  45px;
  color: whitesmoke;
  padding-bottom: 100px;
  font-weight: 600;
}

.carousel-caption h4{
  font-family: sans-serif;
  font-size:  20px;
  color: whitesmoke;
  padding-bottom: 25px;
  font-weight: 600;
}



@media (min-width: 992px) {
  .navbar-nav .nav-item.dropdown .dropdown-menu {
    display: none;
  }
  
  .navbar-nav .nav-item.dropdown:hover .dropdown-menu {
    display: block;
    position: absolute;
    z-index: 1000;
  }

  .newsAndUpdates{
    display: none;
  }

  .courseOffered .courses-heading{
    text-align: start !important;
  }
  .rlcardsmob{
    display: none !important;
  }
  .courseOffered-mob{
    display: none;
  }
  .slide-mob{
    display: none;
  }
  
  .nav-item div a{
    color: #000;
  }

  .dropdown-menu {
    border-radius: 5px !important; 
    padding: 0;
    position: relative;
    left: 0px;
  }

  .dropdown-item:hover{
    border-radius: 5px;
    color: #ffffff;
    background-color: #007aff;
  }

  .nav-item:hover .bold-nav-link{
    color: #ffffff;
  }

  .nav-item{
    transition: .3s;
    font-weight: 550;
  }

  .nav-item:hover{
    border-radius: 5px;
    background-color: #007aff;
    padding: 0px 20px;
  }


}    

@media (max-width: 991px) {
  body{
    overflow-x: hidden !important;
  }
  .separator{
    display: none;
  }
  .aboutAndMarqee {
    flex-direction: column !important;
  }
  h1{
    padding-top: 10px;
    text-align: center;
    color: #132B94;
    font-weight: 600;
  }
  .para2{
    display: none;
  }

  .classImg img{
    display: none;
  }
  .aboutAndMarqee{
    gap: 0px;
  }
  .header h1{
    position: relative;
    top: 15px;
  }
  
  .rlcards{
    display: none !important;
  }
  .thingsthing{
    flex-direction: column;
  }
  .apj.up{
    margin:0px auto !important;
    justify-content: center;
  }
  .courseOffered{
    display: none !important;
  }
  .slide-lg{
    display: none;
  }
  marquee{
    font-size: 20px;
  }

  .newsandupdateshead .announcements{
    display: none;
  }

  .title{
    text-align: center;
    margin: 10px 0px;
  }
  .title a{
    z-index: -999;
    position: absolute;
    opacity: 0.45;
    margin: 0 auto!important;
  }

}

@media (max-width:860px) {
  .title h4{
    display: none;
  }
  .title h5{
    display: none;
  }
}

.para{
  animation-name: homepara;
  animation-duration: 1s;
  animation-delay: 5;
  margin: 0px 2.5px;
}

@keyframes homepara {
  0%{
    transform: translateY(150px);
    opacity: 0;
  }
  100%{
    transform: translateY(0px);
    opacity: 1;
  }
}


h2 span{
  background-color: #007aff;
  border-radius: 5px;
  padding: 10px;
  color: white;
}
h2{
  padding: 30px 0px 0px 0px;
  text-align: center;
}

h1{
  padding: 30px 0px 10px 0px;
  text-align: center;
  color: #132B94;
  font-weight: 600;
}

.content{
  font-size: 20px;
  padding-top: 10px;
  text-indent: 2em;
  text-align: justify;
}

.markqueebox{
  height: 350px;
  max-width: auto;
  margin: 0px auto 0px auto!important;
  justify-content: center !important;
}

.markqueebox{
  margin-bottom: 20px;
}

.markqueebox p{
  text-align: center;
}

.aboutcollege{
  flex: 1;
}

.aboutAndMarqee{
  display: flex;
  justify-content: space-between;
  gap: 30px;
}

.separator{
  height: 325px;
  border: 2.5px solid #1C2B4B;
  border-radius: 50%;
}
.separator1{
  height: 5px; 
  background: #000;
  border: none;
  width: 80%;
  margin: 10px auto;
  border-radius: 50%;
}


.courseOffered{
  justify-content: space-around;
  gap: 0px;
  padding-left: 30px;
}

.classImg img{
  max-width: 550px;
  max-height: 550px;
  margin-top: 40px;
}

.courses h3{
  padding-top: 5px;
  color: black;
  text-align: start;
  font-size: 26px;
}
.courses-mob h3{
  padding-top: 10px;
  color: black;
  text-align: start;
  font-size: 25px;
  font-weight: 550;
  margin-left: 10px;
}



.courses a{
  text-decoration: none;
}
.courses-mob a{
  text-decoration: none;
  padding-bottom: 10px;
}


.courses .heading{
  padding-bottom: 20px;
}
.courses-heading-mob{
  padding-bottom: 20px;
}

.courses{
  padding: 20px;
}

.courses-heading{
  margin-bottom: 30px;
}

.courses a img{
  height: 40px;
  width: 30px;
}


.link-card{
  height: 250px;
  width: 200px;
  border-radius: 5px;
  background: #ffffff;
  box-shadow: 15px 15px 30px #bebebe,
             -15px -15px 30px #ffffff;
  transition: transform 0.2s ease;
}
.link-card:hover{
  transform: scale(1.1);
}

.link-cardmob{
  height: 100px;
  width: 300px;
  border-radius: 8px;
  background: #ffffff;
  box-shadow: 15px 15px 30px #bebebe,
             -15px -15px 30px #ffffff;
}


.rlcards{
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  gap: 20px;
}
.rlcardsmob{
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  gap: 20px;
}

.link-card img{
  height: 150px;
  width: 150px;
  margin-left: 25px;
  padding: 0px 20px 50px 20px;
}
.link-cardmob img{
  height: 65px;
  width: 65px;
  margin-left: 8px;
}

.insidecardmob{
  padding-top: 17px;
}

.insidecardmob h2{
  padding-top: 5px;
}


.link-card h4{
  padding-top: 30px;
  text-decoration: none;
  color: #007aff;
}
.link-cardmob h3{
  padding: 10px auto;
  text-decoration: none;
  color: #007aff;
  margin-left: 20px;
}

.rlheading{
  padding-bottom: 40px;
}

.imgleft{
  position: relative;
  left: 7px;
}

.thingsHeading{
  margin-top: 30px;
  margin-bottom: 10px;
}

@media (min-width: 992px) {
  .markqueebox {
    float: right !important;

  }
}
@media (max-width: 991px) {
  .courses {
    padding-left: 0 !important;
    margin-left: -50px !important;
  }
  
}


.heading span{
  background-color: #007aff;
  border-radius: 5px;
  padding: 10px;
  color: white;
  margin-top: 20px;
}

.things h3{
  padding: 10px;
}

.things .list{
  padding-top: 20px;
  z-index: -1;
  margin-top: 20px;
  text-align: center;
}

.apj{
  height: 350px;
  width: 325px;
  z-index: -1;
  justify-content: end;
  margin-bottom: -1px;
  filter: drop-shadow(0px 2px 5px grey);
}

@media (max-width:280px) {
  .apj{
    height: 250px!important;
    width: 200px!important;
    justify-content: center;
  }
}

.quote{
  font-size: x-large;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.apjtext{
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}








































#footer{
  background-color: #007aff;
  padding-top: 10px;
}
#footer p, h5{
  color: white;
}
.credits{
  color: white;
}



.up{
  position: relative;
  transform: translateY(150px);
  opacity: 0;
  transition: all 1s ease;
}

.up.activateUp{
  transform: translatey(0px);
  opacity: 1;
}


.right{
  position: relative;
  transform: translateX(-10px);
  opacity: 0;
  transition: all 1s ease;
}

.right.activateRight{
  transform: translate(0px);
  opacity: 3;
}

.left{
  position: relative;
  transform: translateX(10px);
  opacity: 0;
  transition: all 1s ease;
}

.left.activateLeft{
  transform: translate(0px);
  opacity: 1;
}

.uponlap{
  position: relative;
  transform: translateY(150px);
  opacity: 0;
  transition: all 1s ease;
}

.activateUponactive{
  transform: translatey(0px);
  opacity: 1;
}
